@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;600&family=Aerator+Regular&family=Michroma&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}


@media (min-width: 320px) and (max-width: 480px) {

    #bodyall {
        width: 100%;
        height: 100%;
        /* padding: 15px; */
        font-family: "Michroma", sans-serif;
        /* border: 1px solid rgb(17, 0, 255); */

    }

    .all-product {
        /* width: 100%; */
        /* height: 500px; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        /* gap: 10px; */
    }

    .usersingleproductdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid #fdb2ef;
        border-radius: 10px;
        padding: 10px;
        width: 50%;
        background-color: #faedfe;
        font-size: 12px;
    }

    .singleproductdiv:hover {
        background-color: #eab5fa;
    }

    .image-container {
        width: 100%;
        /* height: 70%; */
        padding: 10px;
        /* border: 2px solid blue; */
        border-radius: 10px;
        overflow: hidden;
    }

    .usersingleproductdimg {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .singleproductdiv>div {
        pointer-events: none;
    }

    .fav-btn {
        border: none;
        font-size: 20px;
    }

    .singleproductdiv button {
        pointer-events: auto;
    }


    #background {
        width: 100%;
        height: 100%;
    }

    /* Filter Button */
    .filter-btn {
        font-family: "Michroma", sans-serif;
        background: #ffffff;
        color: rgb(0, 0, 0);
        padding: 12px 0px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        margin: 10px;
        cursor: pointer;
    }

    /* Slide Down Full Width Filter Menu */
    .filter-menu {
        width: 80%;
        background: #fff;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        animation: slideDown 0.3s ease;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .filter-section {
        margin-bottom: 20px;
    }

    .colors-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .color-btn {
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #ccc;
    }

    .selected-color {
        border: 2px solid #c05132 !important;
    }




}

@media (min-width: 1200px) and (max-width: 1920px) {

    #bodyall {
        display: block;
        /* justify-content: space-evenly; */
        width: 100%;
        height: 100%;
        font-family: "Michroma", sans-serif;
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .all-product {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 4px;
        margin-inline: 10px;
        /* border: 2px solid blue; */
    }


    .usersingleproductdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        padding: 10px;
        width: 310px;
        /* height: 400px; */
        background-color: #faedfe;
        font-size: 12px;
        /* border: 2px solid blue !important; */
        /* position: relative;
        z-index: 100; */
        cursor: pointer;
    }

    .usersingleproductdiv:hover {
        background-color: #eab5fa;
    }

    .image-container {
        width: 100%;
        /* height: 70%; */
        padding: 10px;
        /* border: 2px solid blue; */
        border-radius: 10px;
        overflow: hidden;
    }

    .usersingleproductdimg {
        /* width: 100%; */
        height: 250px;
        margin-bottom: 10px;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        /* border: 2px solid blue !important; */

    }

    .fav-btn {
        font-size: 20px;
        border: none;
    }

    .usersingleproductdiv>div {
        pointer-events: none;
    }

    .singleproductdiv button {
        pointer-events: auto;
    }

    /* Filter Button */
    .filter-btn {
        background: #ffffff;
        color: rgb(0, 0, 0);
        padding: 12px 20px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        margin: 10px;
        cursor: pointer;
    }

    /* Slide Down Full Width Filter Menu */
    /* .filter-menu {
        width: 80%;
        z-index: 9999;
        background: #fff;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        animation: slideDown 0.3s ease;
    } */

    .filter-menu {
        position: fixed;
        top: 170px;
        left: 17%;
        transform: translateX(-50%);
        width: 400px;
        height: 90vh;
        max-width: 90%;
        z-index: 9999;
        background: #f1f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        animation: slideDown 0.3s ease;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .filter-section {
        margin-bottom: 20px;
    }

    .colors-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .color-btn {
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #ccc;
    }

    .selected-color {
        border: 2px solid #c05132 !important;
    }



}