* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {

    #cart {
        width: 100vw;
        /* height: 100vh; */
        padding: 15px;
        font-family: "Almarai", sans-serif;
        /* border: 10px solid rgb(17, 0, 255); */

    }

    #msg {
        width: 100%;
        /* height: 90vh; */
        display: block;
        justify-content: center;
        align-content: center;
        justify-items: center;
        /* padding: 0px 16px; */
        margin-bottom: 100px;
        /* border: 5px solid red; */
    }

    #message {
        width: 350px;
        height: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        /* border: 3px solid green; */
    }

    #bag {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        font-family: "Michroma", sans-serif;
        margin-bottom: 20px;
    }

    #alpha {
        display: block;
        font-weight: 500;
        font-family: "Almarai", sans-serif;
        font-size: 12px;
        /* text-align: none; */
        line-height: 1.7;
        margin-top: 30px;
    }

    #message div {
        margin-bottom: 20px;
    }

    #sign {
        width: 100%;
        height: 60px;
        background-color: white;
        color: black;
        font-size: medium;
        margin-bottom: 50px;
    }

    #sign:hover {
        color: white;
        background-color: black;
        border: none;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    #cart {
        width: 100%;
        /* height: 100vh; */
        padding: 15px;
        font-family: "Almarai", sans-serif;
        /* border: 10px solid rgb(17, 0, 255); */

    }

    #msg {
        width: 35%;
        /* height: 90vh; */
        display: block;
        justify-content: center;
        align-content: center;
        justify-items: center;
        margin-left: 32%;
        margin-bottom: 100px;
        /* border: 5px solid red; */
    }

    #messages {
        width: 400px;
        height: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        border: 13px solid green;
    }

    #bag {
        text-shadow:
            1px 0 black,
            -1px 0 black,
            0 1px black,
            0 -1px black;
        /* text-align: center; */
        font-weight: 900;
        font-size: 35px;
        font-family: "Michroma", sans-serif;
        /* margin-bottom: 100px; */
        padding-bottom: 35px;
        padding-top: 10px;

    }

    #alpha {
        width: 93%;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        line-height: 1.7;
        margin-top: 30px;
    }

    #message div {
        margin-bottom: 20px;
    }


    #sign {
        width: 100%;
        height: 60px;
        background-color: white;
        color: black;
        font-size: medium;
        margin-bottom: 50px;
    }

    #sign:hover {
        color: white;
        background-color: black;
        border: none;
    }

    #options {
        margin-top: 50px;
        width: 400px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid red; */

    }

    .ops {
        width: 24%;
        height: 80%;
        display: block;
        justify-content: center;
        align-items: center;
        justify-items: center;
        /* box-sizing: border-box; */
        box-shadow: rgb(95, 190, 193);
        padding: 15px;
        /* border: 2px solid black; */
    }

    .ops button {
        border: none;
        background-color: white;
        font-size: 10px;
        color: rgb(87, 86, 86);
        font-weight: 550;
        text-align: center;
        padding: 16px 8px;
    }

    .ops button:hover {
        border: none;
        color: black;
        font-weight: bold;
    }

    .ops img {
        width: 20px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid black; */
    }

    .ops:hover img {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) contrast(200%);
    }

    #read {
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
        border: none;
        background-color: white;
    }

    #read:hover {
        font-weight: bold;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
    }

}