@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;600&family=Aerator+Regular&family=Michroma&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}


@media (min-width: 320px) and (max-width: 480px) {

    #dash {
        /* width: 100%; */
        height: 100%;

        /* padding: 15px; */
        font-family: "Michroma", sans-serif;
        /* border: 1px solid rgb(17, 0, 255); */

    }

    .allsellerorder {
        display: block;
        justify-content: center;
    }

    .allsellerorderdiv {
        /* width: 100%; */
        /* height: 500px; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2px;

    }

    .sellerOrderCard {
        border-radius: 10px;
        padding: 5px;
        width: 48%;
        background-color: #faedfe;
        font-size: 10px;
        cursor: pointer;
        border: 2px solid rgb(234, 234, 252) !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* border: 1px solid rgb(17, 0, 255); */

    }

    .productItem img {
        /* width: 150px; */
        height: 150px;
        margin-bottom: 10px;
        border-radius: 10px;

    }

    .orderHeader h4 {
        font-size: 8px;
    }


}

@media (min-width: 1200px) and (max-width: 1920px) {

    #dash {
        width: 100%;
        height: 100%;
        font-family: "Michroma", sans-serif;
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .allsellerorderdiv {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline: 30px;
        gap: 10px;
    }


    .sellerOrderCard {
        border-radius: 10px;
        padding: 10px;
        width: 350px;
        background-color: #faedfe;
        font-size: 12px;
        cursor: pointer;
        border: 2px solid rgb(234, 234, 252) !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .productList {
        /* border: 2px solid green; */
    }

    .allsingleproductseller:hover {
        background-color: #eab5fa;
    }


    .productItem img {
        width: 150px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 10px;

    }

    .allsingleproductseller>div {
        pointer-events: none;
    }

    .allsingleproductseller button {
        pointer-events: auto;
    }

    .orderedproDetails {}

}