@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;600&family=Aerator+Regular&family=Michroma&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {

    #bodyFooter {
        width: 100%;
        font-family: "Almarai", sans-serif;
        position: relative;
        bottom: 0;
        /* border: 10px solid orange; */

    }

    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .moreinfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    .moreinfo button {
        font-size: 16px;
        font-family: "Almarai", sans-serif;
        font-weight: 400;
        margin-bottom: 15px;
        border: none;
        background-color: white;
    }

    .moreinfo button:hover {
        font-weight: bold;
        text-decoration: underline;
    }

    #details {
        display: none;
    }

    #black {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 60%;
    }

    #change {
        background-color: white;
        border: none;
        text-decoration: underline;
    }

    #change:hover {
        font-weight: bold;
    }

    #media {
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    #media1 {
        display: none;
    }

    #bottom {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    #bodyFooter {
        width: 100%;
        font-family: "Almarai", sans-serif;
        /* border: 10px solid red; */

    }

    .shopnow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 15px;
    }

    #terms {
        padding: 0px 10px;
        font-size: 14px;
        color: grey;
        margin-bottom: 15px;
    }

    #block {
        display: flex;
        /* border: 5px solid rgb(90, 248, 5);" */
    }

    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .moreinfo {
        display: none;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    #details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .texts {
        display: inline-block;
        justify-content: left;
        align-items: flex-start;
        width: 25%;
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: 400;
        line-height: 30px;
        padding-inline: 15px;
        /* border: 1px solid green; */
    }

    .texts button {
        display: block;
        justify-content: space-between;
        align-items: left;
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: 400;
        margin-bottom: 15px;
        border: none;
        background-color: white;
    }

    .texts button:hover {
        font-weight: bold;
        text-decoration: underline;
    }

    #black {
        width: 110px;
        margin-top: 20px;
        margin-bottom: 35px;
        padding-inline: 15px;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 20%;
    }

    #change {
        background-color: white;
        border: none;
        text-decoration: underline;
    }

    #change:hover {
        font-weight: bold;
    }

    #media {
        display: none;
    }

    #bottom {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
        display: flex;
        justify-content: space-between;
    }

    #media1 {
        display: flex;
        justify-content: space-between;
        width: 25%;
        padding-left: 10px;
        margin-bottom: 40px;
    }

}