* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {

    #body {
        width: 100vw;
        height: 100vh;
        padding: 15px;
        margin-bottom: 500px;
        font-family: "Michroma", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    #info {
        width: 100%;
        /* height: 90vh; */
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
        /* padding: 0px 16px; */
        margin-bottom: 100px;
        /* border: 5px solid red; */
    }

    #login {
        width: 100vw;
        /* height: 70%; */
        display: block;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
        /* border: 3px solid green; */
    }

    #welcome {
        font-weight: 700;
        font-size: 40px;
        font-family: "Michroma", sans-serif;
        margin-bottom: 60px;
    }


    #signbtns {
        display: flex;
        justify-content: center;
        gap: 0;
        /* remove space so they look connected */
        border-radius: 8px;
        overflow: hidden;
        width: 250px;
        /* margin: 20px auto; */
        /* background: #f5f5f5; */
    }

    #signbtns button {
        flex: 1;
        /* padding: 12px 0; */
        border: none;
        background: #e8e8e8;
        font-size: 15px;
        cursor: pointer;
        transition: 0.25s;
        color: #555;
    }

    #signbtns button:hover {
        background: #ddd;
    }

    #signbtns button.active {
        background: #4a90e2;
        color: white;
        font-weight: 600;
    }

    #logbtn {
        /* width: 100%; */
        height: 30px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: "Michroma", sans-serif;
    }

    #regbtn {
        /* width: 100%; */
        height: 30px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: "Michroma", sans-serif;
    }

    #member {
        display: block;
        line-height: 0.1;
        margin-top: 30px;
    }

    #roleselect {
        border: none;
        font-family: "Michroma", sans-serif;
    }

    #roleselect option {
        font-family: "Michroma", sans-serif;

    }

    #login div {
        margin-bottom: 20px;
    }

    #name {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    #email {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    #password {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    .showhide {
        font-size: 8px;
        font-weight: bold;
        font-family: "Michroma";
        background-color: rgb(246, 246, 203);
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }

    #continue {
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        font-family: "Michroma", sans-serif;
    }

    #continue:hover {
        background-color: rgb(99, 99, 99);
        font-weight: bold;
    }

    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Michroma", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
    }

}

@media (min-width: 1200px) and (max-width: 1920px) {

    #body {
        /* width: 100vw; */
        /* height: 100vh; */
        padding: 15px;
        font-family: "Michroma", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    #info {
        width: 35%;
        /* height: 90vh; */
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
        margin-left: 32%;
        margin-bottom: 100px;
        /* border: 5px solid red; */
    }

    #login {
        width: 100vw;
        height: 70%;
        display: block;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
        /* border: 3px solid green; */
    }

    #welcome {
        font-weight: 600;
        font-size: 55px;
        font-family: "Michroma", sans-serif;
        /* margin-bottom: 100px; */
        /* padding-bottom: 25px; */
        /* padding-top: 10px; */
        /* border: 3px solid green; */

    }

    #signbtns {
        display: flex;
        justify-content: center;
        gap: 0;
        /* remove space so they look connected */
        border-radius: 8px;
        overflow: hidden;
        width: 250px;
        margin: 20px auto;
        /* background: #f5f5f5; */
    }

    #signbtns button {
        flex: 1;
        /* padding: 12px 0; */
        border: none;
        background: #e8e8e8;
        font-size: 15px;
        cursor: pointer;
        transition: 0.25s;
        color: #555;
    }

    #signbtns button:hover {
        background: #ddd;
    }

    #signbtns button.active {
        background: #4a90e2;
        color: white;
        font-weight: 600;
    }

    #logbtn {
        /* width: 100%; */
        height: 30px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: "Michroma", sans-serif;
    }

    #regbtn {
        /* width: 100%; */
        height: 30px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: "Michroma", sans-serif;
    }

    #member {
        width: 93%;
        display: flex;
        justify-content: space-around;
        /* line-height: 0.1; */
        margin-top: 30px;
    }

    #member h5 {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
    }

    #roleselect {
        border: none;
        font-family: "Michroma", sans-serif;
    }

    #roleselect option {
        font-family: "Michroma", sans-serif;

    }

    #login div {
        margin-bottom: 20px;
    }

    #name {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    #email {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    #password {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    .showhide {
        font-size: 8px;
        font-weight: bold;
        font-family: "Michroma";
        background-color: rgb(239, 239, 210);
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }

    #continue {
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        font-size: medium;
        margin-bottom: 20px;
        font-family: "Michroma", sans-serif;
    }

    #continue:hover {
        background-color: rgb(99, 99, 99);
        font-weight: bold;
    }

    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Michroma", sans-serif;
    }
}